# ETL Project Technical Report

## Team 5: Emerson Williams-Molett, Kerry Harp, Yonis Hassan

_______________________________________________________________________________


<img src = "images/annual-working-hours-per-worker.png" width=500 align="left">

### Data Extraction

#### Sources:

Data Set 1:[World Happiness Report](https://worldhappiness.report/ed/2021/#appendices-and-data) (CSV file)

Data Set 2: Our World in Data [Are we working more than ever](https://ourworldindata.org/working-more-than-ever?) (CSV file)



#### Process:

Extract CSVs into DataFrames
    <ul>
    <li>World Happiness CSV has 11 items in the header (Country Name, Year, Life Ladder, Log GDP per capita, Social support, Healthy life expectancy at birth, Freedom to make life choices, generosity, Perceptions of corruption, Positive affect, Negative affect)</li>
   <li>Our World CSV has 4 items in the header (Entity, Code, Year, Average annual working hours per worker)</li>
    </ul>

_______________________________________________________________________________

### Data Cleanup

Happiness DataFrame
    <ul>
    <li>Kept the wanted columns (Country Name, Year, Life Ladder)</li>
   <li>Our World CSV has 4 items in the header (Entity, Code, Year, Average annual working hours per worker)</li>
    <li>Renamed column names.</li>
    </ul>

Work Hours DataFrame
    <ul>
    <li>Kept the wanted columns (Entity, Year, Average annual working hours per worker)</li>
   <li>Renamed column names</li>
    <li>Deleted all rows with the year < 2005 </li>
    <li>Remove decimal places from the work hours.</li>
    </ul>

_______________________________________________________________________________

### Data Analysis

Used Pandas to load the two dataframes into SQL database named ETL_5 (tables: world_happiness and annual_work_hours).

Confirm data has been added

Query the database

_______________________________________________________________________________